body {
    background-color: #777;
    font-family: "Arial", "helvetica neue", Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    text-align: center;
    width: 960px;
    margin: auto;
}

header {
    background-color: #ebebeb;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav {
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
}


aside {
    background-color: #ebebeb;
    width: 44%;
    float: right;
    height: 287px;
}



section {
    background-color: #ebebeb;
    width: 495px;
    padding: 10px;
}


article {
    background-color:#777;
    color: #ebebeb;
    margin: 0;  
    position: relative;  
    padding: 12px;
}


h1 {
    color:#777;
    background: #ebebeb;
    margin: 10px;
    padding: 10px;
}

p {
    color:#777;
    background: #ebebeb;
    margin: 10px;
    padding: 10px;
}

footer {
    clear: both;
    background-color: #ebebeb;
    overflow: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}